body{
    background: #f98ae6;
    margin: o;
}

#main-div{
 background:rgb(135, 247, 234);
 width: 1200px;
 height: 600px;
 margin-top: 0;  
}

#name{
    color:rgb(54, 10, 110);
    text-align: center;
    border: solid black spx;
    font: 'EB Garamond serif';


}